*.a
*.com
*.class
*.dll
*.exe
*.o
*.so
*.swp
*.cache
*.m4
*.in
*.tar.gz
config.*
stamp-h1
.dirstamp
.deps/*
config.*
configure
build-aux/*
Makefile
INSTALL
ghangtux
src/.deps/
ghangtux.desktop
po/.intltool-merge-cache
po/POTFILES
po/es.gmo
po/stamp-it
po/ghangtux.pot
